{% load static %}

	<!doctype html>
	<html lang="ru" >
	  <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block title %}
		<title>Закупки</title>
		{% endblock %}
		<!-- Bootstrap core CSS -->
		<link href="{% static 'indexpage/css/bootstrap.min.css' %}" rel="stylesheet">
	
			
		<style>
		  .bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		  }
	
		  @media (min-width: 768px) {
			.bd-placeholder-img-lg {
			  font-size: 3.5rem;
			}
		  }
		</style>
	
		
		<!-- Custom styles for this template -->
		<link href="{% static 'indexpage/css/dashboard.css' %}" rel="stylesheet">
	  </head>
	<body>
		
	<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
	  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Portal #1</a>
	  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  
	 <br> 
	  <ul class="navbar-nav px-3">
		<li class="nav-item text-nowrap">
			<div class="col-md-2">
				{% if request.user.is_authenticated %}
				<a style="position: relative; left: 0; bottom: 100" class="btn btn-dark" href="{% url 'logout' %}">LogOut</a>
				<a style="position: relative; left: 0; bottom: 100" class="btn btn-dark" href="{% url 'profile' %}">{{request.user}}</a>
				{% else %}
				<a style="position: relative; left: 0; bottom: 100" class="btn btn-dark" href="{% url 'login' %}">Login</a>
				<a style="position: relative; left: 0; bottom: 100" class="btn btn-dark" href="{% url 'registration' %}">Registration</a>
				{% endif %}
			</div>
		</li>
	  </ul>
	</header>
	<div class="container-fluid">
		<div class="row">
		  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
			<div class="position-sticky pt-3">
			  <ul class="nav flex-column">
				<li class="nav-item">
				  <a class="nav-link" aria-current="page" href="{% url 'base' %}">
					<span data-feather="home"></span>
					Закупки
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'interesting' %}">
					<span data-feather="file"></span>
					В работе
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'recomend' %}">
					<span data-feather="shopping-cart"></span>
					Рекомендованные
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="{% url 'completed' %}">
					<span data-feather="users"></span>
					Завершенные
				  </a>
				</li>
				
			  </ul>
	  
			  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
				<span>Saved reports</span>
				<a class="link-secondary" href="#" aria-label="Add a new report">
				  <span data-feather="plus-circle"></span>
				</a>
			  </h6>
			  <ul class="nav flex-column mb-2">
				<li class="nav-item">
				  <a class="nav-link" href="#">
					<span data-feather="file-text"></span>
					Current month
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">
					<span data-feather="file-text"></span>
					Last quarter
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">
					<span data-feather="file-text"></span>
					Social engagement
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="#">
					<span data-feather="file-text"></span>
					Year-end sale
				  </a>
				</li>
			  </ul>
			</div>
		  </nav>


		<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
			
			{% block content %}
			{% endblock %}
	
			
		</main>


		</div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" ></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" ></script>
	<script src="{% static 'indexpage/js/dashboard.js' %}"></script>
	
	<script src="{% static 'indexpage/js/bootstrap.bundle.min.js' %}" ></script>
	
	
	  </body>
	</html>
<!-- xs sm md lg -->
