{% extends 'layout/layout.html' %}

{% block head %}
<title>Base</title>
{% endblock %}
<!-- -------------------------------------------------------------------- -->
{% block body_left %}

{% endblock %}
{% block body_right %}
    <h2>{{ page_name }}</h2>
	{% if object_list %}
	<table class="table table-striped table-sm">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Сайт</th>
				<th scope="col">№</th>
				<th scope="col">Закон</th>
				<th scope="col">Тип</th>
				<th scope="col">Огранизация</th>
				<th scope="col">ИНН</th>
				<th scope="col">Задача</th>
				<th scope="col">Дата старта</th>
				<th scope="col">Дата рассмотрения</th>
				<th scope="col">Прием заявок до</th>
				<th scope="col">Торговая площадка</th>
				<th scope="col">Этап</th>
				<th scope="col">Дата создания</th>
				<th scope="col">Сумма</th>
				<th scope="col">Кол-во заявок</th>
				<th scope="col">Регион</th>
				{% if inter_list %}
				<th scope="col">В интересных</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for elem in object_list %}
			<tr>
				<td><a href="{{ elem.link|safe }}" target="_blank">{{ elem.places__full_name|safe }}</a></td>
				<td><a href="{% url 'procedure' elem.proc_number|safe %}">{{ elem.proc_number|safe }}</a></td>
				<td>{{ elem.law__full_name|safe }}</td>
				<td>{{ elem.type_proc__full_name|safe }}</td>
				<td>{{ elem.orgs__full_name|safe }}</td>
				<td>{{ elem.orgs__inn|safe }}</td>
				<td>{{ elem.subject|safe }}</td>
				<td>{{ elem.date_start }}</td>
				<td>{{ elem.date_end }}</td>
				<td>{{ elem.date_proc }}</td>
				<td>{{ elem.tradeplace__full_name|safe }}</td>
				<td>{{ elem.stage__full_name|safe }}</td>
				<td>{{ elem.created_at|safe }}</td>
				<td>{{ elem.sum_proc|safe }}</td>
				<td>{{ elem.deal_count|safe }}</td>
				<td>{{ elem.region__full_name|safe }}</td>
				{% if elem.proc_number in inter_list %}
				<td><a class="btn btn-danger" href="{% url 'add_int'%}?pk={{elem.id}}&value=0&next={{request.get_full_path}}">Удалить</a></td>
				{% elif inter_list %}
				<td><a class="btn btn-primary" href="{% url 'add_int'%}?pk={{elem.id}}&value=1&next={{request.get_full_path}}">Добавить</a></td>
				{% endif %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1> No Data </h1>
	{% endif %}
	{% if object_list %}
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			{% if page_obj.has_previous %}
			<li class="page-item"><a class="page-link" href="?page=1">First</a></li> 
			<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
			{% endif %}
			<li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
			{% if page_obj.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }} </a></li>
			<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
			{% endif %}
		</ul>
	  </nav>
	{% endif %}
{% endblock %}