{% extends 'layout/layout.html' %}
{% load static %}
{% block title %}
		<title>{{ page_name }}</title>
		{% endblock %}
<!-- -------------------------------------------------------------------- -->

{% block content %}

<a class="btn btn-primary" href="{% url 'create_proc' %}" >Добавить процедуру</a>
	{% if object_list %}
	<table class="table table-striped table-sm">
		<thead class="thead-dark">
			<tr>
				<th scope="col">№</th>
				<th scope="col">Огранизация</th>
				
				<th scope="col">Дата рассмотрения</th>
				
				<th scope="col">Торговая площадка</th>
				
				<th scope="col">Дата создания</th>
				<th scope="col">Сумма</th>
				<th scope="col">Кол-во заявок</th>
				
				{% if inter_list %}
				<th scope="col">В работе</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for elem in object_list %}
			<tr>
				<td><a href="{{ elem.link|safe }}" target="_blank">
					{% if elem.places__full_name == "portal_providers" %}
					<img src="{% static 'indexpage/png/pp_logo.png' %}" alt="Портал поставщиков" style="width:50px"> 
					{% else %}
					{{ elem.places__full_name|safe }}
					{% endif %}
				</a><br>
				<a href="{% url 'procedure' elem.proc_number|safe %}">{{ elem.proc_number|safe }}</a>
				<br>
				
				{{ elem.law__full_name|safe }}<br>
				{{ elem.type_proc__full_name|safe }}<br>
				{{ elem.stage__full_name|safe }}
				</td>
				<td><small>
					<span >
						{{ elem.orgs__inn|safe }}
					  </span><br>
					<span class="d-inline-block text-truncate" style="max-width: 350px;">
						{{ elem.orgs__full_name|safe }}
					</span><br>
					<span >
						{{ elem.subject|safe }}
					</span><br>
					{{ elem.region__full_name|safe }}
				
				</small></td>
				<td><small>
					
					<span class="d-inline-block text-truncate" style="max-width: 250px;">
						с {{ elem.date_start }}
					</span><br>
					<span class="d-inline-block text-truncate" style="max-width: 250px;">
						по {{ elem.date_end }}
					</span><br>

				</small>
				</td>
				<td>
					{% if elem.tradeplace__full_name == "portal_providers" %}
					<img src="{% static 'indexpage/png/pp_logo.png' %}" alt="Портал поставщиков" style="width:50px"> 
					{% else %}
					{{ elem.tradeplace__full_name|safe }}
					{% endif %}
					<br>
					{{ elem.date_proc }}
				
				</td>
				
				
				<td>{{ elem.created_at|safe }}</td>
				<td>{{ elem.summ_proc|safe }}</td>
				<td>{{ elem.deal_count|safe }}</td>
				
				{% if elem.proc_number in inter_list %}
				<td><a class="btn btn-danger" href="{% url 'add_int'%}?pk={{elem.id}}&value=0&next={{request.get_full_path}}">Удалить</a></td>
				{% elif inter_list %}
				<td><a class="btn btn-primary" href="{% url 'add_int'%}?pk={{elem.id}}&value=1&next={{request.get_full_path}}">Добавить</a></td>
				{% endif %}
			
			
		</tr>
		{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1> No Data </h1>
	{% endif %}
	{% if object_list %}
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			{% if page_obj.has_previous %}
			<li class="page-item"><a class="page-link" href="?page=1">First</a></li> 
			<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
			{% endif %}
			<li class="page-item"><a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
			{% if page_obj.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }} </a></li>
			<li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
			{% endif %}
		</ul>
	  </nav>
	{% endif %}
{% endblock %}