{% extends 'layout/layout.html' %}

{% block title %}
<title>Login</title>
{% endblock %}
<!-- -------------------------------------------------------------------- -->

{% block content %}

<form method="post">
{% csrf_token %}
<!--     
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div> -->

<table>
        <tr><td>Username</td><td>{{form.username}}</td></tr>
        <tr><td>Password</td><td>{{form.password}}</td></tr>
    </table>
<button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}